 <nav class="navbar">
        <a href="#" class="navbar-item">Início</a>
        <a href="#" class="navbar-item">Sobre</a>
        <a href="#" class="navbar-item">Serviços</a>
        <a href="#" class="navbar-item">Contato</a>
</nav>