{{#each erros}}
    <div class="alerta alerta-msg"><p>{{erros}}</p></div>
{{else}}

{{/each}}

<form action="/add" method="post">
    Usuário: <br>
    <input type="text" name="name">
    </br>
    Password: <br>
    <input type="password" name="password">
    </br>
    Damage: <br>
    <input type="number" name="damage">
    </br>
    Piercing: <br>
    <input type="number" name="piercing">
    </br>
    Critical Chance: <br>
    <input type="number" name="critical">
    </br>
    Resist: <br>
    <input type="number" name="resist">
    </br>
    <button type="submit">Cadastrar</button>
</form>
<script>
    //Scripts podem ser colocados dentro de formularioss;
</script>