<div class="maincard">
    <form action="/login" method="post">
        Usuário: <br>
        <input type="text" name="nome">
        <br>
        Password: <br>
        <input type="password" name="senha">
        <br>
        <button type="submit">Entrar</button>
    </form>
</div>