<div class="maincard">
    <form action="/login" method="post">
        Usuário: <br>
        <input type="text" name="nome">
        <br>
        Password: <br>
        <input type="password" name="senha">
        <br>
        <br>
        <button type="submit" class="btn btn-outline-light">Entrar</button>
    </form>
</div>