<div class="main">
    <div class="maincard">
        {{#if error}}
        <p class="alert alert-danger">{{error}}</p>
        {{/if}}

        {{#if userInf}}
        <form action="/user/monster/register" method="post">
            <br>
            <input type="hidden" name="idcriador" value="{{userInf}}">
            </br>
            Name: <br>
            <input type="text" name="name">
            </br>
            Damage: <br>
            <input type="number" name="damage">
            </br>
            Piercing: <br>
            <input type="number" name="piercing">
            </br>
            Incoming Boost: <br>
            <input type="number" name="incomingbo">
            </br>
            Resist: <br>
            <input type="number" name="resist">
            </br>
            <br>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
        {{/if}}
    </div>
</div>