<div class="maincard">
    <div class="usercard">
        <div class="usercardinfo">
            <h1>{{name}}</h1>
            <br>
            <h1>{{damage}}</h1> 
            <br>
            <h1></h1>            
        </div>
    </div>

    <div class="monstercard">

    </div>

    <div class="usercard">
        <div class="combatcard">
            
        </div>
    </div>
</div>