.alerta-msg{
    margin: auto;
    text-align: center;
    color: black;
}

.maincard{
    margin: auto;
    text-align: center;
    border-color: black;
    border-radius: 10px;
}

.main{
    width: 50%;
    text-align: center;
    margin: auto;
    display: flex;
    margin: 20px auto;
}

/*#Header*/
.header{
    text-align: center;
    margin: auto;
    margin: 20px auto;
}

/*/Header*/

.listamonstros{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*#Lista de monstros do usuario*/
.cardlistamonstros{
    width: 500px;
}
/* /Lista de monstros do usuario*/

.img-card{
    width: 150px;
}

  @media screen and (max-width: 1250px) {
      .main{
      text-align: center;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      }
    /*#header*/
    .header img{
        width: 350px;
    }
    /*/header*/

    /*#Lista de monstros do usuario*/
    .cardlistamonstros {
        width: 250px;
    }
    .listamonstros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*/Lista de monstros do usuario*/
  }