.alerta-msg{
    margin: auto;
    text-align: center;
    color: black;
}

.maincard{
    margin: auto;
    text-align: center;
    border-color: black;
    border-radius: 10px;
}

.main{
    width: 50%;
    text-align: center;
    margin: auto;
    display: flex;
}

.header{
    text-align: center;
    margin: auto;
}

.img-card{
    width: 150px;
}

  @media screen and (max-width: 900px) {
      .main{
      width:50%;
      text-align: center;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      }
  }